<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PPS-项目清单</title>
	<link rel="stylesheet" href="stylesheets/base.css" />
	<link rel="stylesheet" href="stylesheets/all.css" />
</head>
<body>
	<div class="pps-header">
		<div class="clear">
			<h2 class="fl">PPS <span>UED项目预览系统</span></h2>
			<div class="search fr">
				<input type="text" placeholder="输入项目名称">
			</div>
		</div>
	</div>
	<div class="projects">
		<ul class="clear">
			<% for(var i=0;i<files.length;i++){ %>
			<li><a href="./project/<%= files[i] %>"><%= files[i] %></a></li>
			<% } %>
		</ul>
	</div>
	<div class="empty">
		<h1><span></span> 项目没有找到...</h1>
	</div>
	
</body>
</html>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/search.js"></script>